@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;

}

:root {
    --red: #c72929;

}

html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: auto;

}

.header-principal {
    display: flex;
    height: 60px;
    width: 100%;
}

.nav {
    width: 100%;
    display: flex;
    position: fixed;
    padding: 0 2rem;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
    z-index: 5;
    transition: .5s;

    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);

}

.user-button-nav {
    display: none;
    align-items: center;
    gap: 1rem;
}

.user-button-nav a {
    border: 2px solid var(--red);
    padding: 10px 15px;
    border-radius: 20px;
    color: #000;
    background-color: var(--red);
    transition: 0.5s ease-out;
}



.nav-menu {
    display: flex;
    gap: 2rem;
    transition: .5s;
    list-style: none;
}

/* .abajo {
    color: #fff;
    background-color: #000;
} */

.nav-menu li>a {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.inicio {
    height: calc(100vh - 60px);

    /* height: calc(100vh - 60px); */
    /* position: sticky; */
    /* overflow: hidden;
    background-image: url('img/img-principal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.inicio figure {
    /* background-image: url('https://scontent.faep15-1.fna.fbcdn.net/v/t39.30808-6/432215019_955717379227354_5193779206950528451_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGwceUXex1_ITcoj-vRbZA22whvqhul_efbCG-qG6X955-FBdZrUmVQ-go_HKHu4P26NYNc15XNc8hxCGuDuMi5&_nc_ohc=TAw02ixtfBQQ7kNvgF9RgLL&_nc_ht=scontent.faep15-1.fna&oh=00_AYCsNqE4fnrNvvJ5A9FPMpKpdKoWRBMcb-_0ebGmPbpqSw&oe=6667DA46'); */
    background-image: url('https://imagenes.lainformacion.com/files/og_thumbnail_1900/uploads/imagenes/2022/01/19/un-joven-realiza-ejercicios-en-un-gimnasio.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: calc(100vh - 122px);

}

/* .inicio figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 120px);
    background-color: #00000094;

}
 */

.redes-inicio {
    display: flex;
    bottom: 5rem;
    align-items: center;
    right: -15px;
    margin-right: 30px;
    gap: 1rem;
    font-size: 30px;
    padding: 20px;
    position: absolute;
    flex-direction: column;
    border-radius: 20px;
}

.redes-inicio>a {

    color: #fff;
}

.logo-header {
    color: #fff;
    font-size: 1.4rem;
    text-wrap: nowrap;
    font-style: italic;
    -webkit-text-stroke: 1px red;
}

.logo-nav {
    display: none;
    text-align: center;
    letter-spacing: 2px;
    text-wrap: balance;
    font-size: 40px;
    -webkit-text-stroke: 1px #000;
}

.resultados-contenedor {
    display: flex;
    background-color: #000;
    color: #fff;
    padding: 6rem 2rem;
    justify-content: center;
    gap: 4rem 2rem;
}

.item-resultados {
    width: 50%;
}

.item-resultados img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.item-resultados h2 {
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 30px;
    letter-spacing: 2px;
}


@media (max-width: 972px) {
    .resultados-contenedor {
        flex-direction: column;
    }

    .item-resultados {
        width: 100%;
    }
}

.planes-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 6rem 2rem;

    gap: 0.3rem;
}

.planes-items {
    display: flex;
    text-align: center;
    gap: 3rem;
    width: 100%;
    justify-content: center;
}

.planes-contenedor h2 {
    font-size: 60px;
    position: relative;
    left: 6px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.lista-plan {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lista-plan li {
    display: flex;
    gap: 0.4rem;
    padding: 16px 0;
    align-items: center;
}

.plan-item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    max-width: 335px;
}

.plan-item h3 {
    font-size: clamp(22px, 4vw, 28px);
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #A4C2F4;
    color: #fff;
    padding: 20px;

}

.hamburguer-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: 5;
}

@media (max-width: 767px) {
    .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 0;
        justify-content: center;
        bottom: 0;
        left: 0;
        /* right: 0; */
        padding: 2rem;
        font-size: 25px;
        background-color: #ff2e2e;
        pointer-events: auto;
        height: 100vh;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
    }

    .logo-nav {
        display: flex;
        justify-content: center;
        color: #fff;
        -webkit-text-stroke: 2px #000;
    }
    
    .nav-menu li > a {
        color: #fff;
    }

    .hamburguer-button {
        display: flex;
    }

    .logo-header {
        display: none;
    }

    .nav {
        justify-content: end;
    }

    .menu-close {
        transform: translateX(-100%);
        opacity: 0;
    }

    .menu-open {
        transform: translateX(0);
        display: flex;

    }

}

.plan-inferior {
    position: relative;
    top: 20px;
}

@media (max-width: 850px) {
    .planes-items {
        flex-direction: column;

    }

    .plan-item {
        max-width: 100%;
    }
}


.carrusel-section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.carrusel-contenedor {
    width: 800px;
    height: 450px;
    border-radius: 15px;

    overflow: hidden;
    position: relative;
}

.carrusel {
    width: 400%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 4);
    height: 100%;
}

.slider-section img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 9px;
    cursor: pointer;
    font-weight: 600;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}


.footer {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    padding: 5rem 2rem;
    align-items: center;
    gap: 4rem;
}

.footer h3 {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    font-size: clamp(1rem, 8vw, 4rem);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.form-arriba {
    display: flex;
    gap: 20px;
    justify-content: space-around;

}

.formulario-footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
}

.form-arriba-input {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 10px;
}


.form-arriba-input input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 17px;
    color: #fff;

}

.form-arriba-input input:focus {
    outline: none;
    border: none;
}

.footer span {
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

.form-abajo {
    display: flex;
    justify-content: space-around;
    gap: 5rem;

}

.form-abajo button {
    padding: 0 2rem;
    border: 1px solid #fff;
    background-color: transparent;
    color:#fff;
    letter-spacing: 5px;
    cursor: pointer;
    transition: 0.9s ease;
    text-transform: uppercase;
}

.form-abajo button:hover {
    color:#000;
    background-color: #fff;
}

.form-abajo-input {
    display: flex;
    gap: 10px;
    
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    text-transform: uppercase;
}

.form-abajo-input input {
    background-color: transparent;
    border: none;
    font-size: 17px;
    width: 100%;
    color: #fff;
}

.form-abajo-input input:focus {
    outline: none;
    border: none;
}

.form-abajo-button {
    display: flex;
    align-items: center;
    justify-content: end;
}

@media (max-width: 590px) {
    .form-arriba {
        flex-direction: column;
    }

    .form-abajo {
        flex-direction: column;
    }

    .form-abajo button {
        padding: 1rem;
    }
}